# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=y702lxik
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
VITE_CLOUDINARY_API_KEY=

# Firebase Firestore Configuration
VITE_FIREBASE_API_KEY=AIzaSyDQgqC9CGBdtuPBajupMyklZivc1zXEyUk
VITE_FIREBASE_AUTH_DOMAIN=gone-home-decors.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gone-home-decors
VITE_FIREBASE_STORAGE_BUCKET=gone-home-decors.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=422373063194
VITE_FIREBASE_APP_ID=1:422373063194:web:970e0a78e2956ba8562fa3
